# Enable rewrite engine

RewriteEngine On

## Allow direct access to storage/gallery images

RewriteCond %{REQUEST_URI} ^/storage/.*\.(jpg|jpeg|png|gif|webp)$ [NC]
RewriteRule .* - [L]

### If the request is already for the public folder, do nothing

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
